<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852783333818-6ef7052np90d2cs9pqadhlm39mdv57hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852783333818-6ef7052np90d2cs9pqadhlm39mdv57hp</string>
	<key>API_KEY</key>
	<string>AIzaSyD9Brn-asdrm5iIwqFSTkdjMoj5MLRiaVk</string>
	<key>GCM_SENDER_ID</key>
	<string>852783333818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imar.planit</string>
	<key>PROJECT_ID</key>
	<string>planit-430da</string>
	<key>STORAGE_BUCKET</key>
	<string>planit-430da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852783333818:ios:65f2d901dbaddc8d</string>
	<key>DATABASE_URL</key>
	<string>https://planit-430da.firebaseio.com</string>
</dict>
</plist>